<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="FOR-UConnectionString" connectionString="Data Source=LAPTOP-L2U5LKAS\SQLEXPRESS;Initial Catalog=FOR-U;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

 <appSettings>
    <add key="googlemaps.Subgurim.net" value="YourGoogleMapsAPIKeyHere="/>
  </appSettings>
</configuration>
